@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>React loves Bridge.NET</title>
    <link href="Styles/Styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="/Script/Generated/bridge.js"></script>
    <script src="/Script/Generated/bridge.react.js"></script>
    <script src="/Script/Generated/bridgeExamples.js"></script>
</body>
</html>