@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bridge.NET loves DuoCode</title>
    <link href="Styles/Styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main"></div>
    <script src="/Script/ThirdParty/react-0.13.3.js"></script>
    <script src="/Script/bridge.js"></script>
    <script src="/Script/bridge.react.js"></script>
    <script src="/Script/bridgeExamples.js"></script>
</body>
</html>